* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cikk {
  border: 1px solid blue;
}

div {
    border: 1px solid black;
    width: 75%;
    margin: auto;
    display: flex;
    gap: 10px;
}

.cikk {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
}

