p {
    display: block;
    position: sticky;
    margin-top: 100px;
    top: 0px;
}

div {
    border: 1px solid black;
    width: 75%;
    margin: auto;
    margin-top: 75px;
}

body {
    border: 2px solid red;
    height: 2000px;
}